<div class="et-cell-container">
  <span {{bind-attr class=":et-toggle-span :et-toggle
      isCollapsed:et-expand:et-collapse"}}
      {{action 'toggleTableCollapse'}}>
    {{fa-icon "caret-down" classNames="et-toggle-icon"}}
  </span>
  <div class="et-header-content-container">
    <span class="et-content">
      {{view.column.headerCellName}}
    </span>
  </div>
</div>
