<div class="ember-table-example-container">
  {{ember-table
    hasFooter=false
    columns=tableColumns
    content=tableContent
  }}
</div>

<hr>

<div class="ember-table-example-container">
  {{ember-table
    numFixedColumns=1
    hasFooter=true
    columns=tableColumns
    content=tableContent
  }}
</div>
