//
// Ember Table (et)
// =============================================================================

// TODO(ldvz): Duplicated colors for now, however, should remove eventually.
$color-white: #fff;
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-blue-50:   #e3f2fd;
$color-blue-100:  #bbdefb;
$color-blue-200:  #90caf9;
$color-blue-300:  #64b5f6;
$color-blue-400:  #42a5f5;
$color-blue-500:  #2196f3;
$color-blue-600:  #1e88e5;
$color-blue-700:  #1976d2;
$color-blue-800:  #1565c0;
$color-blue-900:  #0d47a1;
$color-blue-A100: #82b1ff;
$color-blue-A200: #448aff;
$color-blue-A400: #2979ff;
$color-blue-A700: #2962ff;

$transition-easing: cubic-bezier(.230, 1.000, .320, 1.000);

// Variables
// ---------

$et-zIndex: 0 !default;

// Note: This should be equal to the rowHeight in the tableController
$et-height-row: 38px !default;

$et-fontSize-header: 12px !default;
$et-fontSize-body: 14px !default;

$et-color-header: $color-grey-500 !default;
$et-color-body: $color-grey-700 !default;
$et-color-selectedRow: $color-grey-700 !default;

$et-backgroundColor: $color-white !default;
$et-backgroundColor-header: $et-backgroundColor !default;
$et-backgroundColor-headerRow: $et-backgroundColor !default;
$et-backgroundColor-headerCell: $et-backgroundColor !default;
$et-backgroundColor-footer: $et-backgroundColor !default;
// $et-backgroundColor-selectedRow: $color-blue-700 !default;
$et-backgroundColor-selectedRow: rgba(#1e82f6, .15) !default;
$et-backgroundColor-hoverRow: rgba(#1e82f6, .07) !default;

$et-borderSize: 1px !default;
$et-borderSize-vertical: 0 !default;
$et-borderSize-horizontal: 1px !default;
$et-borderSize-header: $et-borderSize !default;
$et-borderSize-rowBottom: $et-borderSize-horizontal !default;
$et-borderSize-cellVertical: $et-borderSize-vertical !default;
$et-borderSize-footer: $et-borderSize !default;

$et-borderColor: $color-grey-200 !default;
$et-borderColor-container: $color-grey-200 !default;
$et-borderColor-header: $et-borderColor !default;
$et-borderColor-body: $et-borderColor !default;
$et-borderColor-footer: $et-borderColor !default;
$et-borderColor-selectedRow: $et-borderColor !default;

// TODO(Louis): Review
$et-height-headerDropdownToggle: 20px !default;
$et-color-headerDropdownToggle: $color-grey-400 !default;
$et-backgroundColor-headerDropdownToggle: $et-backgroundColor !default;

$et-horizontalPadding-cell: 20px !default;
$et-horizontalPadding-headerCell: 20px !default;
$et-verticalPadding-headerCell: 12px !default;

$et-headerCellSortIconContainer-width: 16px;
$et-headerCellPopoverLink-size: 16px;

$et-horizontalResizeHandler-width: 3px;
$et-headerCellPopoverLink-margin: 2px;

$et-cellContent-rightPadding: $et-headerCellPopoverLink-margin + $et-headerCellPopoverLink-size + $et-headerCellPopoverLink-margin + $et-horizontalResizeHandler-width;

// Utils
// -----

.u-textRight {
	text-align: right;
}

.u-textLeft {
	text-align: left;
}

.u-textCenter {
	text-align: center;
}

// Table Structures
// ----------------

.et-tables-container {
	position: relative;
	z-index: $et-zIndex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	// Important: We use display:inline-block and they are not flush
	// and have 4px margins without using font-size: 0
	font-size: 0;
	user-select: none;
	background-color: $et-backgroundColor;
	// Note: Size of the border needs to be synced with the size in ember-table.js
	border: $et-borderSize solid $et-borderColor-container;
	border-radius: 3px;
	outline: 0;
	// &.is-selectable {
	// 	user-select: text;
	// }
}

.et-tables-container--collapse {
	border: 0;
}

.et-tables-container--box {
	border-radius: 0;
}

.et-tables-container * {
	box-sizing: inherit;
}

.et-table-container {
	position: relative;
	z-index: $et-zIndex + 3;
	overflow-x: hidden;
	// Height and Width defined dynamically through JS
	// Let Antiscroll handle the overflow
	overflow-y: auto;
	// deal with Linux Chrome v38 wrapping bug
	// reset to normal in .et-table-block
	white-space: nowrap;
}

.et-table-fixed-wrapper,
.et-table-scrollable-wrapper {
	overflow: visible;
}

.et-table-fixed-wrapper,
.et-header-block {
	height: 100%;
}

.et-table-block {
	position: relative;
	display: inline-block;
	overflow: hidden;
	// deal with Linux Chrome v38 wrapping bug
	// reset to normal from white-space: nowrap in .et-table-container
	white-space: normal;
	vertical-align: top;
}

.et-table-fixed-wrapper {
	// Height and Width defined dynamically through JS
	overflow: hidden;
}

.et-table-scrollable-wrapper {
	// Height and Width defined dynamically through JS
	display: block;
}

.et-scroll-container {
	// Top, left, height and width defined dynamically through JS
	position: absolute;
	bottom: 0;
	z-index: $et-zIndex + 5;
	overflow-x: auto;
	overflow-y: hidden;
	// TODO(ldvz): need to figure
	// border-left: $et-borderSize solid $et-borderColor;
}

.et-fixed-table-container {
	z-index: $et-zIndex + 4;
	&.et-header-container {
		background-color: $et-backgroundColor-header;
	}
	&.et-footer-container {
		background-color: $et-backgroundColor-footer;
	}
}

.et-lazy-list-container {
	position: relative;
}

// Important: Hides the horizontal scroll bar in the header
.et-header-row::-webkit-scrollbar {
	width: 0;
}

.et-header-row,
.et-header-container .et-table-fixed-wrapper {
	background-color: $et-backgroundColor-headerRow;
}

// Header Container
// ----------------

.et-header-container {
	border-bottom: $et-borderSize-header solid $et-borderColor-header;
}

// Table Row
// ---------

.et-table-row {
	// JS defines height, width, top
	position: absolute;
	min-width: 100%;
	border-bottom: $et-borderSize-rowBottom solid $et-borderColor-body;
	> div {
		height: 100%;
	}
	// &.et-row-style-1
	// Note that the following row styles exist:
	// .et-row-style-1
	// .et-row-style-2
	// .et-row-style-3
	// .et-row-style-4
	// .et-row-style-5
	// .et-row-style-6
	&.et-last-row {
		border-bottom: none;
	}
}

.et-tables-container.is-selectable .et-table-row {
	cursor: pointer;
}

// Assuming there are not multiple rows in the header and footer
.et-header-block .et-table-row,
.et-footer-block .et-table-row {
	border-bottom: 0;
}

.et-body-container .et-table-row {
	color: $et-color-body;
	&.et-hover {
		background-color: $et-backgroundColor-hoverRow;
	}
}

// Selected row style
.et-tables-container.is-selectable {
	.et-is-selected {
		color: $et-color-selectedRow;
		background-color: $et-backgroundColor-selectedRow;
	}
}

// Table Cell
// ----------

.et-cell-container {
	float: left;
	width: 100%;
	height: 100%;
}

.et-cell {
	float: left;
	height: 100%;
	padding-left: $et-headerCellSortIconContainer-width;
	// Important: We defined font-size: 0 in .tables-container due to the use
	// of display-inline: block
	font-size: $et-fontSize-body;
}

.et-cell.is-selected {
	border-color: $color-blue-600;
}

.et-content-container {
	height: 100%;
}

.et-content {
	display: block;
	// Space for the popover link
	padding-right: $et-cellContent-rightPadding;
	line-height: $et-height-row - $et-borderSize-horizontal;
}

.et-body-container .et-content,
.et-footer-container .et-content {
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 0;
}

// Header Container
// ----------------

$et-sortableIndicator-color: rgba(0, 0, 0, .3);

.et-header-container .ui-sortable {
	position: relative;
	height: 100%;
	// JS sets width
}

.et-header-container {
	.ui-state-highlight {
		position: relative;
		left: 0;
		z-index: $et-zIndex + 100;
		float: left;
		width: 0;
		height: 100%;
	}
	.ui-sortable-helper {
		background-color: $et-sortableIndicator-color;
		.et-content-container {
			color: $color-white;
		}
	}
}

.et-header-container .et-right-table-block .et-table-row {
	width: 100%;
	overflow-x: auto;
	.ui-sortable {
		// Dynamically set the width
		overflow: hidden;
	}
}

// Column Indicator
// ----------------

.et-column-sortable-indicator {
	position: absolute;
	top: 0;
	left: -1px;
	z-index: $et-zIndex + 1000;
	width: 2px;
	height: 100%;
	background-color: $et-sortableIndicator-color;
	opacity: 0;
	transition: opacity .3s $transition-easing;
	&.active {
		opacity: 1;
	}
}

// Header Cells
// ------------
// TODO(Louis): Need to add this during the drag
// > http://jqueryui.com/draggable/#cursor-style
// cursor: -webkit-grabbing; cursor: -moz-grabbing;

.et-header-cell {
	// ui-resizable-handle depends on this
	position: relative;
	// Override the jQuery sortable
	display: block !important;
	padding: 0;
	overflow: hidden;
	font-size: $et-fontSize-header !important;
	color: $et-color-header;
	background-color: $et-backgroundColor-headerCell;
	transition: background-color .3s $transition-easing;
	span {
		line-height: 1;
	}
	&:hover {
		background-color: $color-grey-50;
	}
}

.et-header-cell .ui-resizable-handle {
	position: absolute;
	right: 0;
	background-color: $et-backgroundColor-headerCell;
	transition: background-color .3s $transition-easing;
	&.ui-resizable-e {
		top: 0;
		bottom: 0;
		width: $et-horizontalResizeHandler-width;
		&:hover {
			// Overide the cursor
			cursor: col-resize;
		}
	}
}

.et-header-cell:hover .ui-resizable-handle {
	background-color: $color-grey-200;
}

.et-header-cell .et-content-container {
	display: flex;
	cursor: pointer;

	align-items: flex-end;
	&.et-table-header-tree-cell {
		left: 20px;
	}
}

.et-header-cell.u-textRight .et-content-container {
	justify-content: flex-end;
}

.et-content--headerCell {
	padding-top: $et-verticalPadding-headerCell;
	padding-bottom: $et-verticalPadding-headerCell;
	font-weight: 500;
	line-height: 1.3;
}

.et-content--headerCell.is-sortedBy {
	color: $color-grey-800;
}

// Adjust the first column to have more space to the left of it. However,
// causes a bug because the ui-state-highlight can be the first-child
// .et-cell:first-child {
// 	padding-left: $et-horizontalPadding-cell;
// }
// .et-header-cell:first-child {
// 	padding-left: $et-horizontalPadding-cell - $et-headerCellSortIconContainer-width;
// }

// Sort Icon
// ---------

.et-sortIcon {
	// IE needs this
	display: inline-block;
	width: $et-headerCellSortIconContainer-width;
	padding-bottom: $et-verticalPadding-headerCell;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;

	// Make sure flexbox doesn't squeeze
	flex-shrink: 0;
}

// Header Popover Link
// -------------------

.et-headerCellPopoverLink-container {
	position: absolute;
	// Because of the sortable handle
	right: $et-horizontalResizeHandler-width + $et-headerCellPopoverLink-margin;
	bottom: $et-verticalPadding-headerCell - 2px;
	width: $et-headerCellPopoverLink-size;
	height: $et-headerCellPopoverLink-size;
	// -2px because of border
	font-size: $et-headerCellPopoverLink-size;
	// -2px because of border
	line-height: $et-headerCellPopoverLink-size - 2px;
	text-align: center;
	border: 1px solid $color-grey-300;
	opacity: 0;
	transition: opacity .3s $transition-easing;
}

.et-header-cell:hover .et-headerCellPopoverLink-container {
	opacity: 1;
}

// Footer
// ------

.et-footer-container {
	position: absolute;
	z-index: $et-zIndex + 5;
	overflow: hidden;
	border-top: $et-borderSize-footer solid $et-borderColor-footer;
	.et-toggle {
		display: none;
	}
}

// Toggle Cell
// -----------

.et-toggle {
	display: flex;
	float: left;
	width: 16px;
	height: 100%;
	font-size: 19px;
	opacity: .5;
	transition: opacity .3s $transition-easing;

	align-items: center;
	&:hover {
		opacity: .8;
	}
}

.et-toggle--header {
	padding-bottom: $et-verticalPadding-headerCell;
	// Visual alignment because the icon has a different font-size
	margin-bottom: -3px;

	align-items: flex-end;
}

.et-toggle--expand {
	opacity: 1;
}

.et-toggle--expand .et-toggle-icon {
	transform: rotate(-90deg);
}

.et-toggle-icon {
	display: inline-block;
}

.et-toggle-icon.is-hidden {
	display: none;
}

.et-toggle-icon.is-visible {
	cursor: pointer;
}

// Shadows
// -------

.et-left-table-block {
	// Make sure left is on top
	z-index: $et-zIndex + 100;
}

// We override this so that the shadow doesn't show of the body-container
.et-footer-container .et-left-table-block {
	height: 100% !important;
}

.et-header-container,
.et-footer-container,
.et-left-table-block {
	transition: box-shadow .6s $transition-easing;
}

.has-headerShadow .et-header-container, .has-frozenColumnShdaow .et-left-table-block {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .24);
}

.has-frozenColumnShdaow .et-left-table-block:first-child {
	box-shadow: 4px 0 8px -4px rgba(0, 0, 0, .24)!important;
}

.has-frozenColumnShdaow .et-left-table-block:last-child {
	box-shadow: -4px 0 8px -4px rgba(0, 0, 0, .24)!important;
}

.has-footerShadow .et-footer-container {
	box-shadow: 0 -3px 3px rgba(0, 0, 0, .1);
}

// Deprecated
// ----------

// .et-table-header-tree-cell .et-header-content-container {
// 	left: 20px;
// }

// .et-header-cell .et-toggle {
// 	position: relative;
// 	i {
// 		position: absolute;
// 		bottom: 8px;
// 		font-size: 13px;
// 	}
// }

// .et-toggle-span {
// 	padding: 0;
// 	// Note the -1 is because we use box sizing and the row has a bottom border
// 	line-height: $et-height-row - 1;
// 	&:hover {
// 		cursor: pointer;
// 	}
// }
