<span {{bind-attr class=":et-toggle-span view.row.isLeaf::et-toggle
    view.row.isCollapsed:ember-table-expand:et-collapse"}}
    {{action 'toggleCollapse' view.row}}>
  <i class="icon-caret-down et-toggle-icon"></i>
</span>
<div class="et-content-container" {{action 'sortByColumn' view.column}}>
  <span class="et-content">
    {{view.column.headerCellName}}
  </span>
</div>
