<span {{bind-attr class=":et-toggle-span view.row.isLeaf::et-toggle
    view.row.isCollapsed:et-expand:et-collapse"}}
    {{action 'toggleCollapse' view.row}}>
  {{fa-icon "caret-down" classNames="et-toggle-icon"}}
</span>
<span class="et-content">
  {{view.cellContent}}
</span>
