//
// Typography
// -----------------------------------------------------------------------------

/* Source Code Pro typography for code examples */

@font-face {
	font-family: "SourceCodePro-Black";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-Black.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-Black.ttf') format('truetype');
}
@font-face {
	font-family: "SourceCodePro-Bold";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-Bold.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
}
@font-face {
	font-family: "SourceCodePro-Semibold";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-Semibold.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-Semibold.ttf') format('truetype');
}
@font-face {
	font-family: "SourceCodePro-Medium";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-Medium.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-Medium.ttf') format('truetype');
}
@font-face {
	font-family: "SourceCodePro-Regular";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-Regular.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face {
	font-family: "SourceCodePro-Light";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-Light.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-Light.ttf') format('truetype');
}
@font-face {
	font-family: "SourceCodePro-ExtraLight";
	font-style: normal;
	font-weight: normal;

	src: url('../fonts/sourceCodePro/SourceCodePro-ExtraLight.woff') format('woff'),
	url('../fonts/sourceCodePro/SourceCodePro-ExtraLight.ttf') format('truetype');
}
