<div class="et-content-container" {{action "sortByColumn" view.content}}>
	<span class="et-sortIcon">
		&darr;
	</span>
	<span class="et-content">
		{{view.content.headerCellName}}
	</span>
	<i class="mdi mdi-caret-down et-optionsIcon"></i>
</div>
