<div class="et-content-container" {{action "sortByColumn" view.content}}>
	<span class="et-sortIcon">
		&uarr;
	</span>
	<span class="et-content et-content--headerCell is-sortedBy js-header-content">
		{{view.content.headerCellName}}
	</span>
</div>

<a class="et-headerCellPopoverLink-container">
	<i class="mdi mdi-caret-down et-headerCellPopoverLink"></i>
</a>
